.wrapper {
  width: 15rem;
  height: 15rem;
  overflow: hidden;
  border-radius: 20px;
}
.wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 400ms;
}

.wrapper:hover img {
  transform: scale(1.1);
}
